@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
@layer base {
	body {
		background-color: #f2f2f2;
	}
}
.square {
	width: 55px;
	height: 55px;
	background-color: orangered;
}
@media only screen and (max-width: 640px) {
	.square {
		width: 55px;
		height: 55px;
	}
}
